.index {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .title {
      display: flex;
      width: 100%;
      font-size: 25px;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: white;
      }
      div {
        margin-right: 20%;
      }
    }
    .items {
      display: flex;
      align-items: center;
      padding-right: 45px;
      .vertical-card:last-child {
        margin-left: 15%;
      }
    }
  }
  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .title{
      color: #0B7171;
      font-size: 30px;
    }
    .items{
      width: 70%;
    }
  }
}
