.plus-btn {
  border-radius: 50%;
  background: #23a0a5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s;
  &:active{
    transform: scale(1.1);
    background-color: #fff;
    svg{
      color: #23a0a5;
    }
  }
}
