.navbar {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    h1 {
      margin-right: 25px;
      color: #0b7171;
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #cfcfcf;
    .cart {
      margin-left: 45px;
      font-size: 25px;
      position: relative;
      color: #0b7171;
      cursor: pointer;
      .count{
        color: #fff;
        background-color: #0b7171;
        border-radius: 50%;
        font-size: 13px;
        padding: 0px 5px;
        position: absolute;
        width: fit-content;
        text-align: center;
        bottom: 0;
      }
    }
    .search {
      position: relative;
      .search-icon {
        position: absolute;
        right: 10px;
        top: 45%;
        transform: translateY(-50%);
        cursor: pointer;
      }
      .input {
        label {
          top: -7px;
        }
        .MuiOutlinedInput-root {
          border-radius: 40px;
          input {
            padding: 10.5px 14px;
          }
        }
      }
    }
  }
}
@media screen and(max-width:992px){
  .search{
    display: none;
  }
}